/target/
target/classes/.DS_Store
target/classes/allure.properties
target/classes/common/BaseTest.class
target/classes/Connection/Db_conection.class
target/classes/Connection/Db_goldTrading.class
target/classes/Connection/MySQL.class
target/classes/constants/Auth.class
target/classes/constants/BodyApi.class
target/classes/constants/configPath.class
target/classes/exceptions/JsonElementNotFoundException.class
target/classes/finhay/api/ggg.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/classes/finhay/api/goldService/GetAssetGoldUser.class
target/classes/finhay/api/goldService/GetHistoryTransaction.class
target/classes/finhay/api/goldService/GetPermissionBuyGold.class
target/classes/finhay/api/goldService/GetPriceGold.class
target/classes/finhay/api/goldService/PostBuyGold.class
target/classes/generator/FunctionRandom.class
target/classes/generator/TimeStamp.class
target/classes/log.properties
target/classes/rest/RestBody.class
target/classes/rest/RestHeaders.class
target/classes/rest/RestMethod.class
target/classes/rest/RestParams.class
target/classes/rest/RestRequest$1.class
target/classes/rest/RestRequest.class
target/classes/rest/RestResponse.class
target/classes/ultilities/LoadConfig.class
target/classes/ultilities/LogListener.class
target/classes/ultilities/ReportLogListener.class
target/classes/ultilities/TestListener.class
target/test-classes/tradinggold/TestGetAssetGoldUser.class
target/test-classes/tradinggold/TestGetPermissionBuyGold.class
target/test-classes/tradinggold/TestGetPriceGold.class
target/test-classes/tradinggold/TestHistoryTransaction.class
target/test-classes/tradinggold/TestPostBuyGold.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
target/test-classes/tradinggold/TestPostBuyGold.class
target/classes/.DS_Store
target/classes/allure.properties
target/classes/common/BaseTest.class
target/classes/Connection/Db_conection.class
target/classes/Connection/Db_goldTrading.class
target/classes/Connection/MySQL.class
target/classes/constants/Auth.class
target/classes/constants/BodyApi.class
target/classes/constants/configPath.class
target/classes/exceptions/JsonElementNotFoundException.class
target/classes/finhay/api/ggg.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/classes/finhay/api/goldService/GetAssetGoldUser.class
target/classes/finhay/api/goldService/GetHistoryTransaction.class
target/classes/finhay/api/goldService/GetPermissionBuyGold.class
target/classes/finhay/api/goldService/PostBuyGold.class
target/classes/finhay/api/goldService/GetPriceGold.class
target/classes/generator/FunctionRandom.class
target/classes/generator/TimeStamp.class
target/classes/log.properties
target/classes/rest/RestBody.class
target/classes/rest/RestHeaders.class
target/classes/rest/RestMethod.class
target/classes/rest/RestParams.class
target/classes/rest/RestRequest$1.class
target/classes/rest/RestRequest.class
target/classes/rest/RestResponse.class
target/classes/ultilities/LoadConfig.class
target/classes/ultilities/LogListener.class
target/classes/ultilities/ReportLogListener.class
target/classes/ultilities/TestListener.class
target/test-classes/tradinggold/TestGetAssetGoldUser.class
target/test-classes/tradinggold/TestGetPermissionBuyGold.class
target/test-classes/tradinggold/TestGetPriceGold.class
target/test-classes/tradinggold/TestHistoryTransaction.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
target/classes/ultilities/TestListener.class
pom.xml
target/.DS_Store
target/classes/common/BaseTest.class
target/classes/Connection/Db_goldTrading.class
target/classes/Connection/MySQL.class
target/classes/constants/Auth.class
target/classes/constants/BodyApi.class
target/classes/constants/configPath.class
target/classes/exceptions/JsonElementNotFoundException.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/classes/finhay/api/goldService/GetAssetGoldUser.class
target/classes/finhay/api/goldService/GetHistoryTransaction.class
target/classes/finhay/api/goldService/GetPermissionBuyGold.class
target/classes/finhay/api/goldService/GetPriceGold.class
target/classes/finhay/api/goldService/PostBuyGold.class
target/classes/generator/FunctionRandom.class
target/classes/generator/TimeStamp.class
target/classes/rest/RestBody.class
target/classes/rest/RestHeaders.class
target/classes/rest/RestMethod.class
target/classes/rest/RestParams.class
target/classes/rest/RestRequest$1.class
target/classes/rest/RestRequest.class
target/classes/rest/RestResponse.class
target/classes/ultilities/LoadConfig.class
target/classes/ultilities/LogListener.class
target/classes/ultilities/ReportLogListener.class
target/classes/ultilities/TestListener.class
target/test-classes/tradinggold/TestGetAssetGoldUser.class
target/test-classes/tradinggold/TestGetPermissionBuyGold.class
target/test-classes/tradinggold/TestGetPriceGold.class
target/test-classes/tradinggold/TestHistoryTransaction.class
target/test-classes/tradinggold/TestPostBuyGold.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
target/classes/constants/BodyApi.class
target/classes/constants/configPath.class
target/classes/finhay/api/goldService/GetPriceGold.class
target/classes/finhay/api/goldService/PostBuyGold.class
target/test-classes/tradinggold/TestGetAssetGoldUser.class
target/test-classes/tradinggold/TestGetPriceGold.class
target/test-classes/tradinggold/TestPostBuyGold.class
target/classes/Connection/Db_goldTrading.class
target/classes/constants/BodyApi.class
target/classes/constants/BodyApi.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
target/classes/constants/BodyApi.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/classes/finhay/api/goldService/PostBuyGold.class
target/test-classes/tradinggold/TestPostBuyGold.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/classes/constants/BodyApi.class
target/classes/constants/configPath.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
target/classes/constants/BodyApi.class
target/classes/constants/configPath.class
target/classes/exceptions/JsonElementNotFoundException.class
target/classes/common/BaseTest.class
target/classes/Connection/MySQL.class
target/classes/constants/Auth.class
target/classes/finhay/api/goldService/GetHistoryTransaction.class
target/classes/finhay/api/goldService/GetPermissionBuyGold.class
target/classes/generator/FunctionRandom.class
target/classes/generator/TimeStamp.class
target/classes/rest/RestBody.class
target/classes/rest/RestHeaders.class
target/classes/rest/RestMethod.class
target/classes/rest/RestParams.class
target/classes/rest/RestRequest$1.class
target/classes/rest/RestRequest.class
target/classes/rest/RestResponse.class
target/classes/ultilities/LoadConfig.class
target/classes/ultilities/LogListener.class
target/classes/ultilities/ReportLogListener.class
target/classes/ultilities/TestListener.class
target/test-classes/tradinggold/TestGetPermissionBuyGold.class
target/test-classes/tradinggold/TestHistoryTransaction.class
.idea/libraries/Maven__com_beust_jcommander_1_72.xml
target/classes/constants/BodyApi.class
target/classes/constants/configPath.class
target/classes/constants/BodyApi.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
src/main/java/constants/BodyApi.java
target/classes/constants/Auth.class
target/classes/Connection/MySQL.class
target/classes/common/BaseTest.class
target/classes/constants/configPath.class
target/classes/constants/BodyApi.class
target/classes/exceptions/JsonElementNotFoundException.class
target/classes/finhay/api/goldService/GetAssetGoldUser.class
target/classes/finhay/api/goldService/BuyAndSellGoldManyTime.class
target/classes/finhay/api/goldService/GetHistoryTransaction.class
target/classes/finhay/api/goldService/GetPermissionBuyGold.class
target/classes/finhay/api/goldService/GetPriceGold.class
target/classes/ultilities/TestListener.class
target/classes/ultilities/ReportLogListener.class
target/classes/ultilities/LogListener.class
target/classes/ultilities/LoadConfig.class
target/classes/rest/RestResponse.class
target/classes/finhay/api/goldService/PostBuyGold.class
target/classes/generator/FunctionRandom.class
target/classes/generator/TimeStamp.class
target/classes/rest/RestBody.class
target/classes/rest/RestHeaders.class
target/classes/rest/RestMethod.class
target/classes/rest/RestRequest$1.class
target/classes/rest/RestParams.class
target/classes/rest/RestRequest.class
target/test-classes/tradinggold/TestGetAssetGoldUser.class
target/test-classes/tradinggold/TestGetPermissionBuyGold.class
target/test-classes/tradinggold/TestGetPriceGold.class
target/test-classes/tradinggold/TestHistoryTransaction.class
target/test-classes/tradinggold/TestPostBuyGold.class
target/test-classes/tradinggold/TestPostBuySellManyTime.class
target/classes/constants/configPath.class
target/classes/constants/BodyApi.class
target/classes/finhay/api/goldService/PostBuyGold.class
target/classes/finhay/api/goldService/GetPriceGold.class
